
/* Your CSS Code here. */
.video-player {
    position: relative;
    width: 640px;
    height: 360px;
}

video {
    width: 100%;
    height: 100%;
}

.progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #ccc;
    display: flex;
}

.progress__filled {
    background-color: #666;
    flex-basis: 0%;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#player-button {
    left: 10px;
}

#rewind-button {
    left: 40px;
}

#skip-button {
    right: 10px;
}

input[type="range"] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#volume {
    left: 100px;
}

#playbackSpeed {
    right: 100px;
}
